In [14]:
import sys
sys.executable

'/Users/anuradhasrivastav/Documents/github/pycaret assignment/.venv-pycaret2/bin/python'

In [15]:
from pycaret.arules import *

In [16]:
from pycaret.arules import *
print("pycaret.arules imported ✅")

pycaret.arules imported ✅

In [17]:
import pandas as pd

data = {
    "InvoiceNo": [1, 1, 1, 2, 2, 3],
    "Description": ["milk", "bread", "eggs", "bread", "butter", "milk"],
}
df = pd.DataFrame(data)

exp = setup(
    data=df,
    transaction_id="InvoiceNo",
    item_id="Description",
    session_id=123,
)

rules = create_model(metric="confidence", threshold=0.3)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(butter),(bread),0.3333,0.6667,0.3333,1.0,1.5,0.1111,inf
1,(eggs),(bread),0.3333,0.6667,0.3333,1.0,1.5,0.1111,inf
2,(eggs),(milk),0.3333,0.6667,0.3333,1.0,1.5,0.1111,inf
3,"(milk, eggs)",(bread),0.3333,0.6667,0.3333,1.0,1.5,0.1111,inf
4,"(milk, bread)",(eggs),0.3333,0.3333,0.3333,1.0,3.0,0.2222,inf

In [18]:
import pandas as pd

data = {
    "InvoiceNo": [1, 1, 1, 2, 2, 3],
    "Description": ["milk", "bread", "eggs", "bread", "butter", "milk"],
}
df = pd.DataFrame(data)

exp = setup(
    data=df,
    transaction_id="InvoiceNo",
    item_id="Description",
    session_id=123,
)

rules = create_model(metric="confidence", threshold=0.3)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(butter),(bread),0.3333,0.6667,0.3333,1.0,1.5,0.1111,inf
1,(eggs),(bread),0.3333,0.6667,0.3333,1.0,1.5,0.1111,inf
2,(eggs),(milk),0.3333,0.6667,0.3333,1.0,1.5,0.1111,inf
3,"(milk, eggs)",(bread),0.3333,0.6667,0.3333,1.0,1.5,0.1111,inf
4,"(milk, bread)",(eggs),0.3333,0.3333,0.3333,1.0,3.0,0.2222,inf

In [19]:
import pandas as pd

df = pd.read_csv("./Groceries_dataset.csv")   # go one folder up from the notebook into data/
df.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [20]:
from pycaret.arules import *

exp = setup(
    data=df,
    transaction_id="Member_number",   #  change to match your column names
    item_id="itemDescription",
    session_id=123,
)

rules = create_model(metric="confidence", threshold=0.3)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(bottled water, other vegetables)",(whole milk),0.0939,0.4582,0.0562,0.5984,1.3059,0.0132,1.3490
1,"(yogurt, other vegetables)",(whole milk),0.1203,0.4582,0.0718,0.5970,1.3030,0.0167,1.3445
2,"(rolls/buns, yogurt)",(whole milk),0.1113,0.4582,0.0659,0.5922,1.2924,0.0149,1.3285
3,"(rolls/buns, other vegetables)",(whole milk),0.1467,0.4582,0.0821,0.5594,1.2210,0.0149,1.2298
4,"(soda, yogurt)",(whole milk),0.0975,0.4582,0.0544,0.5579,1.2176,0.0097,1.2255

In [21]:
print(df.columns)

Index(['Member_number', 'Date', 'itemDescription'], dtype='object')

In [ ]:
# PyCaret Association Rule Mining (PyCaret 2.3.5)
- environment: .venv-pycaret2 (Python 3.8.18)
- dataset: groceries.csv (transactions: Member_number, itemDescription)
- steps: setup → create_model → view rules